@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Gruppo&family=Spartan&display=swap');

@font-face {
    font-family: Gruppo;
    src: url(../fonts/Gruppo-Regular.ttf);
 }

/* 
 *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
 
 body {
    /* font-family: Gruppo , cursive; */
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fafaf3;;
 }

 p {
   text-align: justify;
 }

 input {
  border-radius: 11px;
  border: 1px solid #d2b732;
  padding: 5px;
 }

 .logoBox {
    width: 40%;
    min-height: 1vh;
 }


.card {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    background-color: #fff;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerCard {
    padding: 2px 16px;
  }


  .photoBox {
    width: 100%;
    min-height: 16vh;
  }

  .navbarFlow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 15px;
  }
  .itemNav {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .itemNav :hover{
      box-shadow: 0 4px 0px 0 rgb(228 224 175 / 20%);
    }

    .headerFlow {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      row-gap: 15px;
      height: 75px;
    }
    .itemHead {
          width: 150px;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          /* border: 1px solid red; */
      }
      .itemHead :hover{
        box-shadow: 0 4px 0px 0 rgb(228 224 175 / 20%);
      }

  .subTitle{
    color: #ada80c;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px;
  }
 
  .goldenButton {
    box-shadow:inset 0px 0px 14px -3px #f0efda;
    background:linear-gradient(to bottom, #e0dfbb 5%, #f7f8e5 100%);
    background-color:#c5c5a9;
    border-radius:10px;
    border:1px solid #dbd78c;
    display:inline-block;
    cursor:pointer;
    color:#c5c517;
    font-weight:bold;
    padding:3px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #d9cc41;
  }
  .goldenButton:hover {
    background:linear-gradient(to bottom, #f7f8e5 5%, #e0dfbb 100%);
    background-color:#f6f7de;
  }
  .goldenButton:active {
    position:relative;
    top:1px;
  }

  .boxPerfil {
    /* width: 183px;
    height: 185px; */
    width: 94px;
    height: 94px;
    border-radius: 167px;
  }

  .caption {
    font-size: 7px;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    margin-top: 15px;
  }

  .socialItem {
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  .socialItem:hover {
    box-shadow: 0 4px 0px 0 rgb(228 224 175 / 20%);
  }

  .socialIcons {
    width: 35px;
  }

  
  