.container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 400px  auto 0 100px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "nv"
    "lb"
    "main"
    "rb"
    "ft";
    border: 2px solid #fafad2;
}
  /* add css for nested grid here */
.nestedGrid {
    display:flex;
    /* flex-direction: column; */
    flex-flow: column wrap;
    align-items:center;
    border: 2px solid #fafad2;
}

.nestedCard {
  display:flex;
  /* flex-direction: column; */
  flex-flow: column wrap;
  align-items:left;
}
    .box {
      /* border: 1px solid rgb(212, 68, 11); */
      background: #fafaf3;
    }


    .navbar {
      /* row start/column start/ row end/ column end */
      grid-area:nv;
    }
    .footer {
      grid-area: ft;  
    }
    .leftbar {
      grid-area: lb;
    }
    .rightbar {
        grid-area: rb;
      }
    .content {
      grid-area: main;
    }
/* 
    #atomOne{
      background-image: url('../images/atomo-1.jpg');
      background-size: contain;
    } */


  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "nv nv nv nv nv nv nv nv"
        "lb main main main main main main rb"
        "ft ft ft ft ft ft ft ft";
        /* border: 2px solid #e4d00a; */
    }

    .nestedGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows:50% 50%; */
        grid-auto-flow: row;
        grid-gap: 10px;
        /* border: 2px solid #e4d00a; */
    }

  }

  