.container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 400px  auto 0 100px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "nv"
    "lb"
    "main"
    "rb"
    "ft";
    /* border: 2px solid #fafad2; */
}
    /* add css for nested grid here */
  .nestedGrid {
      display:flex;
      flex-flow: column wrap;
      align-items:center;
      /* border: 2px solid #fafad2; */
  }

  .perfilContainer {
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    margin-top: 50px;
    /* border: 2px solid #fafad2; */
}
    .nestedCard {
      display:flex;
      flex-flow: column wrap;
      align-items:left;
    }


    .box {
      /* background: #fafaf3; */
      padding: 3px;
    }


    .navbar {
      /* row start/column start/ row end/ column end */
      grid-area:nv;
      box-shadow: 0 4px 0px 0 rgb(228 224 175 / 20%);
    }
    .footer {
      grid-area: ft;  
    }
    .leftbar {
      grid-area: lb;
    }
    .rightbar {
        grid-area: rb;
      }
    .content {
      grid-area: main;
      padding-top: 20px;
    }

    #photoPerfil{
      background-image: url('../images/molecula-1.jpg');
      background-size: contain;
    }

    .boxPerfil{
      width: 183px;
      height: 185px;
      border-radius: 167px;
    }


  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 75px auto 100px;
        grid-template-areas: 
        "nv nv nv nv nv nv nv nv"
        "lb main main main main main main rb"
        "ft ft ft ft ft ft ft ft";
        /* border: 2px solid #e4d00a; */
    }

    .nestedGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows:50% 50%; */
        grid-auto-flow: row;
        grid-gap: 10px;
        /* border: 2px solid #e4d00a; */
    }

  }

  