@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Gruppo&family=Spartan&display=swap');

@font-face {
    font-family: Gruppo;
    src: url(../fonts/Gruppo-Regular.ttf);
 }
 
 body {
    /* font-family: Gruppo , cursive; */
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #fafaf3;;
 }

 p {
   text-align: justify;
 }

 .logoBox {
    width: 40%;
    min-height: 1vh;
 }


.card {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerCard {
    padding: 2px 16px;
  }


  .photoBox {
    width: 100%;
    min-height: 16vh;
  }

  .navbarFlow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 15px;
    /* border: 2px solid yellow; */

  }
  .itemNav {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .itemNav :hover{
      box-shadow: 2px 4px 4px 0 rgba(187, 172, 88, 0.2);
    }

  .subTitle{
    color: #c5c517;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px;
  }
 

  