.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 600px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd"
    "main"
    "ft";
  }
 
    .box{
      /* border: 1px solid red; */
      /* background: #F8FA9D; */
      }
    .header{
      /* row start/column start/ row end/ column end */
      grid-area:hd;
      box-shadow: 0 4px 0px 0 rgb(228 224 175 / 20%);
    }
    .footer{
      grid-area: ft;  
    }
   
    .form{
      grid-area: main;
      background-color: #fff;
      margin-top: 10px;
      border-radius: 10px;
    }

    .formFlow {
      display:flex;
      flex-flow: column;
      align-items:center;
      margin-top: 50px;
      height: 40%;
      justify-content: space-around;
      padding: 10px;
  }


  

  /* If Screen Is Wide Enough */
  @media(max-width:390px){
    .boxPerfil{
      width: 88px;
      height: 88px;
    }
    }

  /* If Screen Is Wide Enough */
  @media(min-width:900px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 550px 75px;
    grid-template-areas:
        "hd hd hd hd hd hd "
        "sd sd main main rt rt"
        "ft ft ft ft ft ft";
    }
  }

